<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="nuget" value="https://api.nuget.org/v3/index.json" />
    <add key="DEFRA" value="%Package_Feed%" />
  </packageSources>
  <packageSourceCredentials>
    <DEFRA>
      <add key="Username" value="%Nuget_Username%" />
      <add key="ClearTextPassword" value="%Nuget_PAT%" />
	  </DEFRA>
  </packageSourceCredentials>
</configuration>