<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="nuget" value="https://api.nuget.org/v3/index.json" />
    <add key="DEFRA" value="%PACKAGE_FEED_URL%" />
  </packageSources>
  <packageSourceCredentials>
    <DEFRA>
      <add key="Username" value="%PACKAGE_FEED_USERNAME%" />
      <add key="ClearTextPassword" value="%PACKAGE_FEED_PAT%" />
    </DEFRA>
  </packageSourceCredentials>
</configuration>